
# Documentación (no necesaria en producción)
conalz-html-documentations/

# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos temporales
*.log
*.tmp
*~

# Archivos de Node
node_modules/